
*.pyc
SimpliPlan/Car/__pycache__/__init__.cpython-39.pyc
*.pyc
*.pyc
SimpliPlan/Finance/__pycache__
SimpliPlan/Car/migrations/0001_initial.py
SimpliPlan/Car/migrations/__init__.py
SimpliPlan/db.sqlite3
SimpliPlan/Finance/migrations/0001_initial.py
SimpliPlan/Finance/migrations/0002_asset_debt_monthlyexpense_otherincomesource.py
SimpliPlan/Finance/migrations/__init__.py
SimpliPlan/Main/migrations/0001_initial.py
SimpliPlan/Main/migrations/__init__.py
SimpliPlan/Pipfile
SimpliPlan/Pipfile.lock
SimpliPlan/SimpliPlan/__pycache__
SimpliPlan/Main/__pycache__
SimpliPlan/House/__pycache__
SimpliPlan/Finance/__pycache__
SimpliPlan/Car/__pycache__
SimpliPlan/db.sqlite3
*.pyc
