{% extends 'base.html' %}

{% block content %}

  <!-- ======= Change password Section ======= -->
  <section class="vh-100 bg-image">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-dark text-white" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Change Password</h2>

              <form method="POST" class="form-signin">{% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="password" name="old_password" id="id_old_password" class="form-control form-control-lg" placeholder="Old password" required="true"/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="new_password1" id="id_new_password1" class="form-control form-control-lg" placeholder="New password" required="true"/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="new_password2" id="id_new_password2" class="form-control form-control-lg" placeholder="Confirm password" required="true"/>
                </div>

                {% for field in form %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
                
                {% if success_message %}
                    <p style="color:green; text-align: center;">Your Password has been updated!</p>
                  {% endif  %}

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-lg btn-outline-light">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Change password Section -->

{% endblock %}